<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Profile</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Hello, <%= user.userFirstName %>.  What would you like to change?</h1>
    <div class="signup">
      <form action="/auth/<%= user._id %>/profile?_method=PUT" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="<%= user.username %>"/>

        <label for="userFirstName">First Name:</label>
        <input type="text" name="userFirstName" id="userFirstName" value="<%= user.userFirstName %>" />

        <label for="userLastName">Last Name:</label>
        <input type="text" name="userLastName" id="userLastName" value="<%= user.userLastName %>" />

        <label for="userEmail">Email:</label>
        <input type="text" name="userEmail" id="userEmail" value="<%= user.userEmail %>"/>

        <label for="userPhoneNumber">Phone Number:</label>
        <input
          type="text"
          name="userPhoneNumber"
          id="userPhoneNumber"
          value="<%= user.userPhoneNumber %>"
        />
        <div class="radio">
          <label for="userPhoneCategory">Type:</label>
          <input
            type="radio"
            id="office"
            name="userPhoneCategory"
            value="office"
            <%=user.userPhoneCategory==="office" ? "checked" : '' %>>
          <label for="office">Office</label>

          <input
            type="radio"
            id="mobile"
            name="userPhoneCategory"
            value="mobile"
            <%=user.userPhoneCategory==="mobile" ? "checked" : '' %>>
          <label for="mobile">Mobile</label>
        </div>
        <button type="submit">Update Profile</button>
      </form>
    </div>
  </body>
</html>