<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Edit <%= currentClient.firstName %> <%= currentClient.lastName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= currentClient.firstName %> <%= currentClient.lastName %></h1>
    <form action="/users/<%= user._id %>/clients/<%= currentClient._id %>?_method=PUT" method="POST">
        
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" value="<%= currentClient.lastName %>">

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" value="<%= currentClient.firstName %>">

        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber.number" id="phoneNumber.number" value="<%= currentClient.phoneNumber.number %>">

        <label for="phoneCategory">Type:</label>
        <input type="radio" id="office" name="phoneNumber.category" value="office" <%= currentClient.phoneNumber.category === "office" ? "checked" : '' %>>
        <label for="office">Office</label>
        <input type="radio" id="mobile" name="phoneNumber.category" value="mobile" <%= currentClient.phoneNumber.category === "mobile" ? "checked" : '' %>>
        <label for="mobile">Mobile</label>
        <label for="phonePreferred">Preferred Contact</label>
        <input type="checkbox" name="phonePreferred" id="phonePreferred" <% if (currentClient.phonePreferred) { %> checked <% } %> >

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="<%= currentClient.email %>">
        <label for="emailPreferred">Preferred Contact</label>
        <input type="checkbox" name="emailPreferred" id="emailPreferred" <% if (currentClient.emailPreferred) { %> checked <% } %> >

        <label for="departDate">Depart Date:</label>
        <input type="date" name="departDate" id="departDate" value="<%= currentClient.departDate ? new Date(currentClient.departDate).toISOString().split('T')[0] : '' %>">

        <label for="returnDate">Return Date:</label>
        <input type="date" name="returnDate" id="returnDate" value="<%= currentClient.returnDate ? new Date(currentClient.returnDate).toISOString().split('T')[0] : '' %>">

        <label for="destination">Destination:</label>
        <input type="text" name="destination" id="destination" value="<%= currentClient.destination %>">

        <label for="hotel">Hotel:</label>
        <input type="text" name="hotel" id="hotel" value="<%= currentClient.hotel %>">

        <label for="airline">Airline:</label>
        <input type="text" name="airline" id="airline" value="<%= currentClient.airline %>">

        <label for="carRentalRequired">Require Car Rental:</label>
        <select id="carRentalRequired" name="carRentalRequired">
            <option value="yes"
                <%= currentClient.carRentalRequired === 'yes' ? 'selected' : '' %>
                >Yes</option>
            <option value="no"
                <%= currentClient.carRentalRequired === 'no' ? 'selected' : '' %>
                >No</option>
            <option value="maybe"
                <%= currentClient.carRentalRequired === 'maybe' ? 'selected' : '' %>
                >Maybe</option>
        </select>

        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="tentative"
                <%= currentClient.status === 'tentative' ? 'selected' : '' %>
                >Tentative</option>
            <option value="paymentPending"
                <%= currentClient.status === 'paymentPending' ? 'selected' : '' %>
                >Payment Pending</option>
            <option value="booked"
                <%= currentClient.status === 'booked' ? 'selected' : '' %>
                >Booked</option>
        </select>

        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"><%= currentClient.notes %></textarea>

        <button type="submit">Update Client</button>
    </form>
</body>
</html>