<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= user.username %>'s Clients</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Clients</h1>
    <a href="/users/<%= user._id %>/clients/new">Add a Client</a>
    <ul>
        <% currentClients.forEach((currentClient) => { %>
        <li>
            <a href="/users/<%= user._id %>/clients/<%= currentClient._id %>">
                <% 
                const departDate = new Date(currentClient.departDate)
                const month = String(departDate.getUTCMonth() + 1).padStart(2, "0")
                const day = String(departDate.getUTCDate()).padStart(2, "0")
                const year = departDate.getUTCFullYear()
                const formattedDate = `${month}/${day}/${year}`
              %>
              <p>
                Depart Date: <%= formattedDate %> <%= currentClient.firstName %> <%= currentClient.lastName %>
              </p>
           
              
            </a>
        </li>
        <% }) %>
    </ul>
</body>
</html>