<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= currentClient.firstName %> <%= currentClient.lastName %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= currentClient.firstName %> <%= currentClient.lastName %></h1>
    <p>
      Phone Number: <% const phoneNumber = currentClient.phoneNumber.number; const
      formattedPhoneNumber = `(${phoneNumber.slice(0, 3)})
      ${phoneNumber.slice(3, 6)}-${phoneNumber.slice(6, 10)}` %> <%=
      formattedPhoneNumber %> <%= currentClient.phoneNumber.category %> <% if
      (currentClient.phonePreferred === true) { %> <%= " - Preferred Contact" %> <% }
      %>
    </p>
    <p>
      Email: <%= currentClient.email %> <% if (currentClient.emailPreferred === true) { %> <%=
      " - Preferred Contact" %> <% } %>
    </p>
    <% 
      const departDate = new Date(currentClient.departDate)
      const month = String(departDate.getUTCMonth() + 1).padStart(2, "0")
      const day = String(departDate.getUTCDate()).padStart(2, "0")
      const year = departDate.getUTCFullYear()
      const formattedDate = `${month}/${day}/${year}`
    %>
    <p>
      Depart Date: <%= formattedDate %>
    </p>
    <%
      const returnDate = new Date(currentClient.returnDate)
      const returnMonth = String(returnDate.getUTCMonth() + 1).padStart(2, "0")
      const returnDay = String(returnDate.getUTCDate()).padStart(2, "0")
      const returnYear = returnDate.getUTCFullYear()
      const formattedReturnDate = `${returnMonth}/${returnDay}/${returnYear}`
    %>
    <p>
      Return Date: <%= formattedReturnDate %>
    </p>
    <p>Destination: <%= currentClient.destination %></p>
    <% if (currentClient.hotel) { %>
    <p>Hotel: <%= currentClient.hotel %></p>
    <% } %> <% if (currentClient.airline) { %>
    <p>Airline: <%= currentClient.airline %></p>
    <% } %>
    <p>Car Rental: <%= currentClient.carRentalRequired %></p>
    <p>Current Status: <%= currentClient.status %></p>
    <% if (currentClient.notes) { %>
    <p>Notes: <%= currentClient.notes %></p>
    <% } %>

    <a href="/users/<%= user._id %>/clients/<%= currentClient._id %>/edit"
      >Edit this Client</a
    >

    <form
      action="/users/<%= user._id %>/clients/<%= currentClient._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this Client</button>
    </form>
  </body>
</html>
