<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= client.firstName %> <%= client.lastName %></title>
  </head>
  <body>
    <h1><%= client.firstName %> <%= client.lastName %></h1>
    <p>
      Phone Number: <% const phoneNumber = client.phoneNumber.number; 
      const formattedPhoneNumber = `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3, 6)}-${phoneNumber.slice(6, 10)}` %> 
      <%= formattedPhoneNumber %> <%= client.phoneNumber.category %> 
      <% if (client.phonePreferred === true) { %>
        <%= " - Preferred Contact" %> 
      <% } %>
    </p>
    <p>
      Email: <%= client.email %> <% if (client.emailPreferred === true) { %> 
        <%= " - Preferred Contact" %> 
      <% } %>
    </p>
    <p>
      Depart Date: <%= new Date(client.departDate).toISOString().split('T')[0] %>
    </p>
    <p>
      Return Date: <%= new Date(client.returnDate).toISOString().split('T')[0] %>
    </p>
    <p>Destination: <%= client.destination %></p>
    <% if (client.hotel) { %>
    <p>Hotel: <%= client.hotel %></p>
    <% } %> <% if (client.airline) { %>
    <p>Airline: <%= client.airline %></p>
    <% } %>
    <p>Car Rental: <%= client.carRentalRequired %></p>
    <p>Current Status: <%= client.status %></p>
    <% if (client.notes) { %>
    <p>Notes: <%= client.notes %></p>
    <% } %>

    <a href="/users/<%= user._id %>/clients/<%= client._id %>/edit">Edit this client</a>
    
    <form action="/users/<%= user._id %>/clients/<%= client._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this client</button>
    </form>
  </body>
</html>
